/* Theme */

main {
/* 	color: #0277BD; */
	background: linear-gradient(-45deg, #e73c3c, #df3ce7, #23b9d5, #2365d5);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
}

.icons-contacts a {
/* 	color: #0277BD; */
	color: #0F0F0F;
}

.icons-contacts a svg path{
/* 	fill: #0277BD; */
	fill: #0F0F0F;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
